{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol" required>
                <option disabled selected value="">Stock to sell</option>
                {% for row in rows %}
                <option value="{{ row['stock_id'] }}">{{ row['stock_id'] }} ({{ row['SUM(shares)']}})</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
